body {
    margin: 0px;
    background-color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.topbar {
    position: relative;
    background-color: purple;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    padding: 8px 12px;
    margin-right: 50px;
    background-color:white;
    color: purple;
    font-size: 16px;
    font-weight: bold;
}

.header {
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

a:hover {
    background-color: purple;
    color: white;
    padding: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.container {
    display: flex;
    justify-content: center;
    background-image: url(/back-title.jpg);
    color: #fff;
    min-height: 300px;
}

.title {
    font-size: 30px;

}

p {
    font-size: 20px;
    margin-bottom: 40px;
}

.content {
    margin-top: 50px;
}

.projects {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

h2 {
    text-align: center;
    font-size: 35px;
    color: purple;
    padding-bottom: 10px;
}

.img {
    width: 200px;
}

.text {
    text-align: center;
    font-size: 18px;
    padding: 20px;
}